html,body{
  margin: 0px;
  height:100vh;
}
.container{
  z-index:0;
}
.back{
  width:20%;
  background: transparent;
  border:4px solid black;
  border-radius:5px;
  color:black;
  font-size: 50px;
  float:left;
  margin-bottom:40px;
  
}
.aboutMe,.Resume{
  width:80%;
  display:none;
  padding:10px;
  margin-left:10%;
  height:0px;
  margin-top:5%;
  transition:all 0.65s ease-in;
}

.cover h1{
  display:flex;
  margin:0px;
}
.covertext{
  text-align: center;
  transform:translate(0%,0%);
  color:white;
  transition:all 0.65s ease-in-out;

}
.is-clicked .covertext{
  transform:translate(0%,-90%);
  color:transparent;
}
.cover{
  height:92vh;
  background:url("http://theme.dima-lab.com/okab/images/landing-page-iphone/blurred-home-bg.jpg");
 /*background:url("cover.jpg");*/
  background-size:cover;
  margin:0px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-family:Verdana;
  font-size:30px;
  flex-direction:column;
  border:0px;
  z-index:0;
  transform: translate(0px,0px);
  transition:all 0.65s ease-out;
}
.contatiner{
  height:100vh;
}
#effect{
  content:"";
  cursor:pointer;
}
.is-clicked{
  display:flex;
  flex-direction:column;
  height:0px;
  align-items:center;
  text-align: center;
}
.is-clicked .menu{
  display: none;
}
button{
  cursor:pointer;
  /*transform : translate(40px,20px);*/
}
.menu{
  margin-top:30px;
}
.menu button{
  margin:10px;
  background:transparent;
  color:white;
  font-size:30px;
  border: 4px solid white;
  padding:9px;
  border-radius:6px;

}
.stickynav{
  background:black;
  display:block;
  margin:0px;
  height: 8vh;
  max-height: 2%;
  /*border:4px solid red;*/

}
.stickynav ul{
  list-style: none;
  margin:0px;

}
.nav li{
  display:inline-block;
  padding:12px;

}
.nav a{
  text-decoration: none;
  color:white;
}