/**
 * Wrapper
 */
.wrapper {
  max-width: 42rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  @include media-query($on-palm) {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
