---
layout: default
---

<div>

  <div class="home-intro">
    <h1 class="home-title">Hey, I'm Chaitya</h1>
    <p class="home-description">{{ site.description }}</p>
  </div>

  {{ content }}

  <h2>Latest Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        <div class="post-excerpt">{{ post.excerpt | markdownify | strip_html | truncatewords: 40 }}</div>

      </li>
    {% endfor %}
  </ul>

</div>
